---
ci:
  # We rely on renovate to update it but there is no way to fully disable it
  # https://github.com/pre-commit-ci/issues/issues/83
  autoupdate_schedule: quarterly
  skip:
    - ansible-lint
    - mypy
    - tombi-format
    - tombi-lint
repos:
  - repo: meta
    hooks:
      - id: check-useless-excludes
        priority: 0
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.28
    hooks:
      - id: uv-sync
        priority: 0
      - id: uv-lock
        priority: 0
        name: "deps: upgrade via uv sync --upgrade"
        alias: deps
        args: ["--upgrade"]
        stages: [manual]
  - repo: https://github.com/biomejs/pre-commit
    rev: "v2.3.13"
    hooks:
      - id: biome-check
        priority: 1
        name: biome
        alias: biome
        args: [--unsafe]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        priority: 0
        additional_dependencies: ["tomli>=2.2.1; python_version<'3.11'"]
  - repo: builtin
    hooks:
      - id: end-of-file-fixer
        priority: 0
      - id: trailing-whitespace
        priority: 0
      - id: mixed-line-ending
        priority: 0
      - id: fix-byte-order-marker
        priority: 0
      - id: check-executables-have-shebangs
        priority: 0
      - id: check-merge-conflict
        priority: 0
  - repo: https://github.com/tombi-toml/tombi-pre-commit
    rev: v0.7.25
    hooks:
      - id: tombi-format
        alias: toml
        priority: 0
      - id: tombi-lint
        alias: toml
        priority: 1
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff-format
        alias: ruff
        priority: 1
      - id: ruff-check
        args: ["--fix", "--unsafe-fixes"]
        alias: ruff
        priority: 2
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        language: system
        pass_filenames: false
        always_run: true
        entry: uv run -q --group=lint mypy --strict
        priority: 1
      - id: ansible-lint
        name: ansible-lint
        language: system
        pass_filenames: false
        always_run: true
        entry: uv run -q --group=lint ansible-lint --fix
        priority: 1
