argparse-manpage
cairosvg
markdown-include
mkdocs
mkdocs-git-revision-date-localized-plugin
mkdocs-exclude
mkdocs-material
mkdocs-material-extensions
mkdocs-monorepo-plugin
mkdocstrings
mkdocstrings-python
pillow
pymdown-extensions
slugify
