---
name: Release the ansible collection
on:
  workflow_call:
    inputs:
      ah_publish:
        description: Publish the collection on automation hub
        default: true
        type: boolean
      environment:
        description: The deployment environment
        required: true
        type: string
      galaxy_publish:
        default: true
        description: Publish the collection on galaxy
        type: boolean
    secrets:
      ah_token:
        required: true
      ansible_galaxy_api_key:
        required: true

jobs:
  release:
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    steps:
      - uses: actions/checkout@v3

      - name: "Build the collection"
        run: |
          ansible-galaxy collection build -v --force

      - name: "Publish the collection on automation hub"
        if: ${{ inputs.ah_publish }} || ${{ always() }} # failed automationhub job not prohibit galaxy job
        run: |
          TARBALL=$(ls -1 ./*.tar.gz)
          cat << EOF > ansible.cfg
          [galaxy]
          server_list = rh_automation_hub
          [galaxy_server.rh_automation_hub]
          url=https://cloud.redhat.com/api/automation-hub/
          auth_url=https://sso.redhat.com/auth/realms/redhat-external/protocol/openid-connect/token
          token=${{ secrets.ah_token }}
          EOF
          ansible-galaxy collection publish "${TARBALL}"
          rm ansible.cfg

      - name: "Publish the collection on galaxy"
        if: ${{ inputs.galaxy_publish }} || ${{ always() }}
        run: |
          TARBALL=$(ls -1 ./*.tar.gz)
          ansible-galaxy collection publish "${TARBALL}" --api-key "${{ secrets.ansible_galaxy_api_key }}"
